<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Classifier</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="stylesheet" href="static/css/nav.css" />
    <link rel="stylesheet" href="static/css/footer.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-container">
        <a href="/" class="logo">Recyclify</a>
        <ul class="navbar-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contacts">Contact</a></li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
      <h1>Waste Classifier</h1>
      <form method="POST" enctype="multipart/form-data">
        <label for="file" class="custom-file-upload"> Choose a file </label>
        <input
          id="file"
          type="file"
          name="file"
          accept="image/*"
          required
          onchange="showFileName(this)"
        />
        <div class="file-name" id="file-name">No file selected</div>
        <button type="submit">Upload and Classify</button>
      </form>
      {% if result %}
      <div class="result">{{ result }}</div>
      {% endif %} {% if image_path %}
      <div class="image-preview">
        <img src="{{ image_path }}" alt="Uploaded Image" />
      </div>
      {% endif %}
    </div>

    <script src="static/js/script.js"></script>
  </body>
</html>
